@media screen and ( max-width: 1500px )

    .info
        &__container
            padding-left: 20px

    .main
        &__dots
            left: -20px
        &__container
            padding-left: 50px
            padding-top: 50px


@media screen and ( max-width: 1400px )

    .review
        &__container
            max-width: 770px
        &__card
            width: 100%
            max-width: 375px
            height: 370px
            &__content
                padding: 60px 20px 0
            &__name
                font-size: 16px
            &__text
                font-size: 16px

    .info
        padding-left: 20px
        padding-right: 20px
        &__card
            height: auto
            &::before, &::after
                display: none
        &__container
            padding-left: 0

    .main
        &__dots
            left: -25px
            width: 40px
            top: 0
        &__container
            padding-left: 20px
            padding-right: 20px

@media screen and ( max-width: 1300px )
    .thanks
        &__content
            padding: 200px 20px
            padding-left: 180px
        &__box
            max-width: 410px
        &__title
            font-size: 32px
        &__text
            font-size: 27px

    .last
        &__content
            padding-left: 80px

    .step
        &__container
            padding: 50px
    
    .advantages
        background-size: 700px
        padding-bottom: 50px

    .info
        margin-top: -50px

    .main
        &__container
            background-size: contain
        &__item
            font-size: 24px
            &__img
                width: 34px
        &__title
            font-size: 40px
            max-width: 550px

@media screen and ( max-width: 1200px )
    .thanks
        &__content
            padding-left: 80px

    .last
        &__content
            padding-left: 20px

    .calc
        &__input-group
            width: 335px
        &__result
            &__row
                flex-direction: column
                align-items: center
            &__item
                margin-right: 0
                margin-bottom: 20px
                &:last-of-type
                    margin-bottom: 0
    
    .advantages
        background-size: 550px
        padding-bottom: 50px

@media screen and ( max-width: 1100px )
    .thanks
        &__content
            padding-left: 40px

    .last
        &__content
            background-size: 480px

    .calc
        &__label
            text-align: center
        &__data
            flex-direction: column
            align-items: center
            &__box
                margin-bottom: 20px

    .footer
        &__box
            max-width: 550px

    .step
        &__container
            padding: 50px 20px
            &__dots
                right: 8%

    .main
        &__container
            background-size: 700px

@media screen and ( max-width: 991px )
    .thanks
        &__img
            display: inline-block
        &__content
            padding: 100px 20px
            padding-left: 80px
            background: #FFFFFF url(../img/thanks/imgM.png) no-repeat
            background-position-x: right
            background-position-y: center
        &__title
            margin-bottom: 20px
            font-size: 24px
        &__text
            font-size: 24px

    .last
        &__content
            background-image: url(../img/last/imgM.png)
            background-size: contain
            padding-left: 100px
        &__button
            font-size: 16px
        &__input-group
            margin-bottom: 10px
        &__input
            font-size: 14px
        &__box
            max-width: 335px
        &__title
            font-size: 24px
            margin-bottom: 50px

    .quiz
        margin-bottom: 80px
        &__wrap
            margin-bottom: 66px
        &__container
            height: auto
            max-height: none
            min-height: 0
        &__button-group
            width: 100%
            display: grid
            grid-gap: 20px
            grid-template-columns: repeat(auto-fill, 335px)
            justify-content: center
        &__button
            font-size: 16px
            width: 100%
            max-width: 335px
        &__box
            width: 100%
            grid-template-columns: repeat(auto-fill, 335px)
        &__label
            height: 60px
            width: 100%
            max-width: 335px
            &__text
                font-size: 14px
        &__dot
            width: 12px
            height: 12px
            margin-right: 10px
        &__text
            font-size: 20px
            margin-bottom: 20px
            color: #9CA8BA
        &__title
            font-size: 24px
            margin-bottom: 30px

    .calc
        margin-bottom: 80px
        &__result
            &__button
                font-size: 16px
            &__item
                &__title
                    font-size: 18px
                &__text
                    font-size: 14px
            &__box
                padding: 25px 20px 40px
            &__title
                font-size: 24px
                margin-bottom: 30px
        &__label
            font-size: 18px
        &__input
            font-size: 14px
        &__select
            font-size: 14px
        &__info
            max-width: 580px
            justify-content: space-between
            padding-left: 30px
            padding-right: 30px
            &__box
                margin-right: 0
            &__title
                font-size: 40px
            &__text
                font-size: 16px
        &__title
            margin-bottom: 10px
        &__subtitle
            font-size: 18px
            margin-bottom: 85px

    .footer
        &__box
            max-width: 410px
        &__text
            font-size: 14px

    .review
        margin-bottom: 0
        &__row
            display: grid
            grid-column-gap: 20px
            grid-template-columns: repeat(auto-fill, 375px)
            justify-content: center
        &__title
            margin-bottom: 90px

    .step
        margin-bottom: 80px
        &__dots
            display: none
        &__container
            padding-bottom: 300px
            background-size: cover
            &__dots
                display: none
        &__row
            justify-content: space-between
            position: relative
            max-width: 620px
            margin: auto
        &__card
            margin-right: 0
            &--3
                position: absolute
                left: 50%
                top: 272px
                transform: translateX(-50%)
        &__title
            margin-bottom: 40px
            text-align: center

    .we
        margin-bottom: 80px
        &__container
            max-width: 800px
        &__img
            display: none
            &--mob
                display: block
                top: 50%
                transform: translateY(-50%)
        &__title
            margin-bottom: 64px
        &__img
            width: 500px
        &__card
            width: 100%
            max-width: 355px
            height: 400px
            &::after
                width: 103%
                height: 368px
                left: -11px
                border-radius: 5px
            &__content
                border-radius: 5px
                padding: 40px 20px 0
                font-size: 16px
                line-height: 20px
                text-align: center
            &__img
                display: none
                &--mob
                    display: block

    .lead
        margin-bottom: 80px
        &__form
            padding: 65px 20px
        &__input
            padding: 20px 25px
            font-size: 14px
            border-radius: 5px
        &__button
            font-size: 16px
            width: 100%
            max-width: 335px
        &__input-group
            width: 100%
            max-width: 335px
        &__title
            margin-bottom: 20px
        &__subtitle
            font-size: 20px
            margin-bottom: 20px

    .advantages
        padding-bottom: 80px
        background-image: url(../img/advantages/bgM.png)
        background-size: contain
        background-position-y: center
        background-position-x: right
        &__dots
            width: 20px
            height: 58px
            background-image: url(../img/advantages/dotsM.png)
        &__row
            display: grid
            grid-gap: 30px
            grid-template-columns: repeat(auto-fill, 375px)
            justify-content: center
        &__title
            margin-bottom: 40px
        &__card
            width: 100%
            max-width: 375px
            height: 345px
            &::after
                width: 93%
                height: 354px
                transform: translate(-50%, 0)
                border-radius: 5px
            &__title
                font-size: 18px
            &__text
                font-size: 16px
                padding-right: 0
            &__ul
                font-size: 16px
            &__content
                padding: 45px 20px 0
                border-radius: 5px

    .section
        &__title
            font-size: 24px

    .info
        margin-bottom: 80px
        margin-top: 0

    .main
        margin-bottom: 50px
        &__container
            background-image: url(../img/main/img2.png)
            background-size: auto
            padding-bottom: 0
            padding-top: 30px
        &__wrap
            margin-bottom: 20px
        &__title
            font-size: 26px
            max-width: 370px
            margin-bottom: 30px
            span
                font-weight: 800
        &__item
            font-weight: 600
            font-size: 18px
            margin-bottom: 10px
            &__img
                width: 30px

    .header
        padding-top: 20px
        padding-bottom: 20px
        &__text
            font-size: 20px
        &__logo
            &__img
                width: 55px
            &__title
                font-size: 25px
            &__subtitle
                font-size: 11px

@media screen and ( max-width: 767px )
    .thanks
        &__content
            padding: 80px 20px
            display: flex
            justify-content: center

    .last
        &__container
        &__content
            display: flex
            justify-content: center
            padding: 80px 20px

    .quiz
        &__button-group
            display: flex
            flex-direction: column
            align-items: center
            grid-gap: 0
        &__button
            margin-bottom: 20px
            &:last-of-type
                margin-bottom: 0
        &__box
            display: flex
            flex-direction: column
            align-items: center
            grid-gap: 0
        &__label
            margin-bottom: 20px
            &:last-of-type
                margin-bottom: 0
        &__container
            padding: 0

    .calc
        &__content
            padding: 98px 0 36px
        &__result
            &__box
                margin-bottom: 20px
                border-radius: 0
            &__button-wrap
                border: none
            &__button
                transform: none
                width: 100%
                max-width: 335px
                &:hover
                    transform: scale(1.03)
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7)
            &__item
                flex-direction: column
                align-items: center
                width: 100%
                max-width: 335px
                margin-bottom: 30px
                &__title
                    width: 100%
                    border-radius: 10px 10px 0 0
                    text-align: center
                    padding: 20px 0
                &__text
                    width: 100%
                    padding: 20px 25px
                    &--invalid
                       left: 0px
                       bottom: -28px
                       width: auto 
        &__input-group
            width: 100%
            max-width: 335px
            &--1
                margin-right: 0
                margin-bottom: 20px
        &__data
            padding-left: 20px
            padding-right: 20px
            &__box
                flex-direction: column
                align-items: center
                width: 100%
        &__info
            width: 100%
            max-width: 335px
            text-align: center
            padding-top: 10px
            padding-bottom: 10px
            &__box
                flex-direction: column
            &__title
                margin-right: 0

    .footer
        &__row
            flex-direction: column
            align-items: center
        &__text
            text-align: center

    .review
        margin-bottom: 80px
        padding: 0
        &__row
            display: flex
            flex-direction: column
            align-items: center
        &__card
            &:last-of-type
                margin-bottom: 0
    
    .step
        &__container
            // background-image: url(../img/step/imgC.png)
            background: linear-gradient(92.49deg, #FFFFFF 2.08%, rgba(255, 255, 255, 0) 97.92%), url(../img/step/imgC.png)
            background-position: center
            background-color: transparent
            padding: 0 20px
        &__row
            flex-direction: column
            align-items: center
        &__card
            margin-bottom: 20px
            &:last-of-type
                margin-bottom: 0
            &--3
                position: static
                transform: none

    .we
        padding-right: 0
        &__dots
            display: none
        &__title
            padding-right: 20px
        &__img
            display: none
        &__row
            justify-content: center

    .lead
        &__dots
            display: none
        &__form
            background-image: url(../img/lead/imgM.png)
        &__box
            flex-direction: column
            align-items: center
        &__input-group
            margin-right: 0
            margin-bottom: 10px
            &:last-of-type
                margin-bottom: 0

    .advantages
        padding-left: 0
        padding-right: 0
        &__title
            padding: 0 20px
        &__row
            display: flex
            flex-direction: column
            grid-gap: 0
            align-items: center
        &__card
            &--1
                margin-bottom: 30px

    .info
        &__card
            width: 100%
            max-width: 300px
            padding: 15px 0
        &__row
            flex-direction: column
            align-items: center

    .main
        &__dots
            transform: translateY(-50%)
            left: -20px
        &__button-wrap
            padding: 0 20px
        &__wrap
            padding-left: 20px
            padding-right: 20px
        &__img
            display: block
        &__button
            width: 100%
            max-width: 335px
            font-size: 16px
        &__title
            text-align: center
            margin-bottom: 20px
            padding: 0 20px
        &__container
            padding-top: 0px
            display: flex
            flex-direction: column
            align-items: center
            background-image: none
            padding-left: 0
            padding-right: 0

    .header
        &__text
            text-align: center
        &__logo
            margin-bottom: 20px
        &__row
            flex-direction: column
            align-items: center

@media screen and ( max-width: 575px )
    .thanks
        &__container
            padding: 0

    .last
        &__container
            padding: 0

    .review
        &__dots
            display: none


@media screen and ( max-width: 400px )
    .we
        &__card
            &__content
                padding-top: 25px

    .lead
        &__form
            background-size: cover